---
// Utils
import { Icon } from 'astro-icon/components';
import "@styles/services.css";
---

// take in consideration to use img instead of Icon component, looks simpler
<section id="services" class="services">
  <div class="card">
    <picture>
      <Icon name="service4" width="48" height="48" aria-hidden="true" />
    </picture>
    <h2>Service 1</h2>
    <p>
      Write a short description of the service using common search terms. Aim for 1–2 sentences.
    </p>
  </div>
  <div class="card">
    <picture>
      <Icon name="service5" width="48" height="48" aria-hidden="true" />
    </picture>
    <h2>Service 2</h2>
    <p>
      Write a short description of the service using common search terms. Aim for 1–2 sentences.
    </p>
  </div>
  <div class="card">
    <picture>
      <Icon name="service6" width="48" height="48" aria-hidden="true" />
    </picture>
    <h2>Service 3</h2>
    <p>
      Write a short description of the service using common search terms. Aim for 1–2 sentences.
    </p>
  </div>
</section>

