---
// Utils
import { Picture, getImage } from "astro:assets";
import "@styles/services/service-1.css";
// Components
import BaseLayout from "../../layouts/BaseLayout.astro";
import Banner from "@components/Banner/Banner.astro";
import CTA from "@components/CTA/CTASimple.astro";

// Images
import landingImage from "@assets/images/banner.webp"; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import serviceoneImage from "@assets/images/services/serviceone.webp";

const optimizedImage = await getImage({ src: landingImage, format: "webp" });
---

<BaseLayout title="Services" description="Meta description for the page" heroImage={optimizedImage}>
	<!-- ============================================ -->
	<!--                    BANNER                   -->
	<!-- ============================================ -->

	<Banner title="Service 1" image={optimizedImage} />

	<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs"> 
    <div class="cs-container"> 
        <!-- Left Content Section--> 
        <div class="cs-content"> 
            <span class="cs-topper">Featured Service</span> 
            <h2 class="cs-title">Dolor scelerisque proin in vulputate</h2> 
            <p class="cs-text"> 
                 Lorem ipsum dolor sit amet, bibendum dolor maecenas ipsum, in turpis sem. Nullam pede est vestibulum adipiscing suspendisse purus. Massa fusce phasellus et. Eros elit aliquam amet, placerat donec, dui dolor nec suscipit quis. Proin mattis ut nulla a mauris vivamus, varius aliquet vel quam, habitasse sed, curabitur arcu sed sollicitudin. Pede orci, nibh ut congue lorem platea, cras feugiat et ornare primis praesent euismod, ac ipsum. 
            </p> 
            <div class="cs-features"> 
                <h3 class="cs-h3">Key Features:</h3> 
                <ul class="cs-ul"> 
                    <li class="cs-li">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis</li> 
                    <li class="cs-li">Nemo enim ipsam voluptatem, quia voluptas sit</li> 
                    <li class="cs-li">Ut enim ad minima veniam</li> 
                </ul> 
            </div> 
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Read More</a> 
        </div> 
        <!-- Right Image Section --> 
        <div class="cs-image-group"> 
            <!--Image--> 
            <Picture src={serviceoneImage} alt="service-one img office building" layout="full-width" formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture" }} />
        </div> 
    </div> 
</section>
	<CTA />
</BaseLayout>


