---
/**
 * * The hero component used on the homepage
 * * Takes an image as a prop
 */

// Utils
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import type { GetImageResult } from "astro";
//  import your CSS file
import '../../styles/hero.css';

interface Props {
	image: GetImageResult; // pre-optimized image from getImage()
}

const { image } = Astro.props as Props;
---

<section id="hero">
	<div class="cs-container">
		<div class="cs-flex-group">
			<span class="cs-topper">Sitevra presents</span>
			<h1 class="cs-title">Astro Starter <br /> Template</h1>
			<p class="cs-text">This starter kit gives you a ready-made website setup built with Astro, so you can reuse sections, manage your content in one place, and grow your site easily. It also includes a built-in blog with Decap CMS.</p>
			<a href="/about/" class="cs-button-solid">Explore More</a>
			<a href="/contact/" class="cs-button-transparent">
				<Icon name="play" class="cs-img" />
				Get in Touch
			</a>
		</div>
	</div>

	<!-- Using the preloaded image from the props -->
	<Picture src={image.src} alt="new home" width={image.attributes.width} height={image.attributes.height} formats={["avif", "webp"]} priority pictureAttributes={{ class: "cs-picture" }} />
</section>


