---
/**
 * * Simplified CTA component using Astro's built-in Picture component
 **/

// Utils
import { Picture } from "astro:assets";
import "@styles/cta.css";

// Images
import ctaImage from "@assets/images/CTA/cta3.jpg";
---

<section id="cta">
	<div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis at sit pellentesque molestie.  Diam, adipiscing ultrices eu turpis gravida.
            </p>
            <a href="" class="cs-button-solid">Gret A Free Quote</a>
        </div>
    </div>
	<Picture src={ctaImage} alt="" layout="full-width" formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture" }} />
</section>

