---
import { Icon } from "astro-icon/components";
// SideBySide component from index.astro (#sbs section)

// Utils
import { Picture } from "astro:assets";
import "@styles/sidebyside.css";
// Images
import sbs from "@assets/images/services/sbs.jpg";
import construction from "@assets/images/services/construction.jpg";
---

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<Picture src={sbs} alt="aboutus" width={522} formats={["avif", "webp"]} pictureAttributes={{ class: "cs-picture cs-picture1" }} priority />
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">About Us</span>
			<h2 class="cs-title">About Company Title</h2>
			<p class="cs-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<p class="cs-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.			
			</p>
			<div class="cs-flex-group">
				<p class="cs-flex-p">Successus clientium nostrorum successus noster est. Dediti sumus eventibus qui per se loquuntur.</p>
				<span class="cs-name">John Doe</span>
				<span class="cs-job">CEO & Founder</span>
			</div>
			<a href="/about/" class="cs-button-solid">More About Us</a>
		</div>
	</div>
</section>

