---
// SideBySideReverse component from index.astro (#sbs-r section)

// Utils
import { Picture } from "astro:assets";
import "@styles/sidebysidereverse.css";
// Images
import construction from "@assets/images/services/construction.jpg";
import cabinets2 from "@assets/images/services/cabinets2.jpg";
---

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <Picture
        src={construction}
        alt="house"
        width={400}
        height={560}
        formats={['avif', 'webp']}
        pictureAttributes={{ class: "cs-picture cs-picture1" }}
      />
      <Picture
        src={cabinets2}
        alt="cabinets"
        width={400}
        height={560}
        formats={['avif', 'webp']}
        pictureAttributes={{ class: "cs-picture cs-picture2" }}
      />
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">SEO Ranking</span>
      <h2 class="cs-title">Talk about a main service keyword</h2>
      <p class="cs-text">
        In consequat tincidunt turpis sit amet imperdiet. Praesent Class
        officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur
        et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent
        nonatourean olei aptent taciti sociosqu ad litora torquent per.
      </p>
      <p class="cs-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur,
        iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi
        fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores
        ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo
        quia neque est quas, in placeat. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus modi laudantium voluptatibus
        rem libero error minus quia eligendi sapiente eos.
      </p>
    </div>
  </div>
</section>

