---
// SideBySideReverse component from index.astro (#sbs-r section)

// Utils
import { Picture } from "astro:assets";
import "@styles/sidebysidereverse.css";
// Images
import sbsreverse from "@assets/images/services/sbsreverse.webp";
---

<section id="sbs-r">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-left">
      <Picture
        src={sbsreverse}
        alt="sbs reverse img"
        width={400}
        height={560}
        formats={['avif', 'webp']}
        pictureAttributes={{ class: "cs-picture cs-picture1" }}
      />
    </div>
    <!-- Right Content Section-->
    <div class="cs-right">
      <span class="cs-topper">SEO Ranking</span>
      <h2 class="cs-title">Highlight a primary service keyword</h2>
      <p class="cs-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
        Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.
      </p>
      <p class="cs-text">
        Vestibulum id ligula porta felis euismod semper. Non tenetur,
        iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi
        fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores
        ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo
        quia neque est quas, in placeat. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Doloribus modi laudantium voluptatibus
        rem libero error minus quia eligendi sapiente eos.
      </p>
    </div>
  </div>
</section>

