---
// Utils
import { getCurrentYear } from "@js/utils";
import "@styles/footer.css";
import { Image } from 'astro:assets';
import logo from '@assets/images/footer/logo-white.svg';
import { Icon } from "astro-icon/components";
import googleIcon from "@assets/images/footer/google.svg";
import facebookIcon from "@assets/images/footer/facebook.svg";
import instagramIcon from "@assets/images/footer/instagram.svg";
// Data
import { BUSINESS } from "@data/client";

const currentYear = getCurrentYear();
---

<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
           <!--  <a aria-label="go back to home" class="cs-logo" href="/">
                <img class="cs-logo-img" loading="lazy" decoding="async" src="/assets/images/footer/logo-white.svg" alt="logo" width="240" height="32">
            </a> -->
            <a href="/" class="cs-logo" aria-label="Return to Home">
  			      <Image src={logo} alt="Company Logo" width={260} height={135} />
		        </a>
            <p class="cs-text">
                Extra content if you need it, if not you can delete this whole p tag. I usually do.
            </p>
            <div class="cs-social">
                <a class="cs-social-link" aria-label="visit google profile" href="" target="_blank" rel="noopener">
                    <Image src={googleIcon} alt="Google" width={11} height={11} />
                </a>
                <a class="cs-social-link" aria-label="visit facebook profile" href="" target="_blank" rel="noopener">
                    <Image src={facebookIcon} alt="Google" width={11} height={11} />
                </a>
                <a class="cs-social-link" aria-label="visit instagram profile" href="" target="_blank" rel="noopener">
                    <Image src={instagramIcon} alt="Google" width={11} height={11} />
                </a>
            </div>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Information</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/">Home</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/about/">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/portfolio/">Portfolio</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/reviews/">Reviews</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact/">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/serviceone/">Service One</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/servicetwo/">Service Two</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/servicethree/">Service Three</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link cs-address" href="{{ BUSINESS.address.mapLink }}" target="_blank" rel="noopener">
                    { BUSINESS.address.lineOne }, <br>
                    { BUSINESS.address.lineTwo }, <br>
                    { BUSINESS.address.city }, { BUSINESS.address.state }, { BUSINESS.address.zip }
                </a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel:{{ BUSINESS.phoneForTel }}">{ BUSINESS.phoneFormatted }</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:{{ BUSINESS.email }}">{ BUSINESS.email }</a>
            </li>
        </ul>
    </div>
</footer>