---
// Utils
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import "@styles/testimonials.css";
// Data
import profile5 from "@assets/images/testimonials/profile5.jpg";
import profile4 from "@assets/images/testimonials/profile-4.jpg";
---

<section id="reviews">
	<div class="cs-container">
		<span class="cs-topper">Our Reviews</span>
		<h2 class="cs-title">Words From Our Customers</h2>
		<p class="cs-text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
		</p>
		<ul class="cs-card-group">
			<!-- Review 1 -->
			<li class="cs-item">
				<Image src={profile5} class="cs-item-img" alt="Jon Doe" width="80" height="80" />
				<p class="cs-item-p">
					Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci
					imperdiet eget eget.
				</p>
				<span class="cs-reviewer">
					John Doe
					<span class="cs-desc">Homeowner</span>
				</span>
				<Icon name="stars-yellow" class="cs-item-stars" />
			</li>
			<!-- Review 2 -->
			<li class="cs-item">
				<Image src={profile4} class="cs-item-img" alt="Jon Doe" width="80" height="80" />

				<p class="cs-item-p">
					Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci
					imperdiet eget eget.
				</p>
				<span class="cs-reviewer">
					Jane Doe
					<span class="cs-desc">Homeowner</span>
				</span>
				<Icon name="stars-yellow" class="cs-item-stars" />
			</li>
		</ul>
		<a aria-label="read more reviews" href="/reviews/" class="cs-button-solid">Our Reviews</a>
	</div>
</section>


