---
/**
 * * A simple banner used on every page except the homepage
 * * Takes a title and an image as props
 */

// Utils
import { Picture } from "astro:assets";
import type { GetImageResult } from "astro";
import "@styles/banner.css";

interface Props {
	title: string; // heading text
	image: GetImageResult; // pre-optimized image from getImage()
}

const { title, image } = Astro.props;
---

<section id="int-hero">
	<h1 id="home-h">{title}</h1>

	<Picture src={image.src} width={image.attributes.width} height={image.attributes.height} formats={["avif", "webp"]} alt="" priority />
</section>


